*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #34495e;
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.todo-container {
  width: 45%;
  height: auto;
  margin: 0 auto;
  margin: 18%;
  background-color: #03dac6;
  border-radius: 1rem;
}

.todo-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.todo-container .refresh {
  width: 4%;
  height: 4%;
  cursor: pointer;
}

.refresh img {
  width: 100%;
}

hr {
  border: 1px solid #ddd;
}

.add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add .input {
  width: 92%;
  border: 0.5px solid #f3ebdc;
  font-size: 1.2rem;
  font-style: italic;
  outline-color: rgb(125, 231, 255);
  padding: 1rem;
}

.add .add-logo {
  width: 4%;
  height: 4%;
  margin-right: 1rem;
  cursor: pointer;
}

.add:hover {
  background-color: rgb(125, 231, 255);
  transition: 0.3s ease-in-out;
}

.add-logo img {
  width: 100%;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
  background-color: #fff;
}

.list-container .list-item {
  padding: 0.6rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #f3ebdc;
}

.list-container .list-para {
  font-size: 1.1rem;
  color: #606060;
  letter-spacing: 0.05rem;
  width: 100%;
}

.list-container .dot {
  justify-self: flex-end;
  width: 4%;
  height: 4%;
  cursor: pointer;
}

.dot img {
  width: 100%;
}

.clear {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  background-color: #03dac6;
  cursor: pointer;
}

.clear:hover {
  background-color: rgb(125, 231, 255);
  transition: 0.3s ease-in-out;
}
